@model SecurityModel
@using CNET_ERP_V7.Models.Security;
@using Newtonsoft.Json;
@{
    var mainHeaderList = Model?.mainHeader;
    var subHeaderList = Model?.subHeader;

    var functionalitiesList = Model?.functionalities;
}

<style type="text/css">
    .sptable {
        border: 1px solid #ccc;
        border-collapse: collapse;
        background-color: #fff;
        width: 100%;
    }

        .sptable .asth {
            background-color: #3c8dbc;
            color: #fff;
            font-weight: bold;
        }

        .sptable th, table td {
            padding: 1px;
            border: 1px solid #ccc;
        }

        .sptable, .sptable .sptable td {
            border: 0px solid #ccc;
        }

            .sptable [type=text], select {
                width: 100%;
            }

    .prefrenceheader {
        background-color: dodgerblue;
    }

    .backtable {
        background: green;
    }

    .backtablecheck {
        background: green;
    }

    .backtableuncheck {
        background: white;
    }

    .createacount {
        height: 80vh;
        overflow-y: scroll
    }
    .accesses{
        white-space:nowrap;
        cursor:pointer;
    }
    .subHeader{
        display: none;
    }
    .gslType{
        display:none;
    }
</style>
<div class="box box-primary">
    <div class="box-body createacount">
        <table cellpadding="0" cellspacing="0" class="tree_loadaccess sptable">
            <thead>
                <tr class="asth">
                    <th colspan="2">Description</th>
                </tr>
            </thead>
            <tbody>
                @if (mainHeaderList != null && mainHeaderList.Count() > 0)
                {
                    @foreach (var item in mainHeaderList)
                    {
                        var neatedchild = subHeaderList?.Where(t => t.Type  == item.Id.ToString()).ToList();

                        <tr>
                           
                                <td style="width:14px;" class="acctoggleBtn1 fa fa-plus-square text-info">
                                </td>
                                <td class="accessprivilege" colspan="1">
                                    <a data-toggle="tab" data-value="@item.Description" data-types="@item.Id" style="text-decoration-line:none; color:black !important" name="catagory" id="@item.Id">
                                        @item.Description
                                    </a>
                                </td>
                        </tr>
                        <tr class="subHeader">
                            <td></td>
                            <td colspan=2>
                                <table style="width:100%;margin-right:5px" class="addressrow" id="">
                                    <tbody>
                                        @if (item?.Id != null)
                                        {
                                            if (neatedchild?.Count() > 0)
                                            {
                                                @foreach (var childItem in neatedchild)
                                                {

                                                    var NeastedChilds = functionalitiesList?.Where(t => t.SubSystemComponent == childItem.Id).ToList();

                                                    <tr>
                                                        <td style="width:5px;" class="acctoggleBtn2 fa fa-plus-square text-info">
                                                        </td>
                                                        <td colspan="1">
                                                            <a data-toggle="tab" data-value="@childItem.Description" data-types="@childItem.Type" style="text-decoration-line:none; color: black !important" name="catagory" class="accessprivilege">
                                                                @childItem.Description
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr class="gslType">
                                                        <td style="width:6%;"></td>
                                                        <td colspan="1">
                                                            <table style="width:100%" id="" class="table-layout">
                                                                <thead>
                                                                    <tr class="">
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="">
                                                                    @foreach (var childitem in NeastedChilds)
                                                                    {
                                                                        <tr  style="opacity:1.5" data-value="@childitem.Category" data-types="@childitem.SubSystemComponent" class="accessprivilege">
                                                                            <td>
                                                                                <a data-toggle="tab"  data-types="@childitem.SubSystemComponent" style="text-decoration-line:none; color: black !important" name="catagory">
                                                                                    @childitem.Description
                                                                                </a>

                                                                            </td>

                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    }
                }
               
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {

        $('.acctoggleBtn1').on('click', function () {
            if ($(this).parent('tr').next('tr').is(":visible")) {

                $(this).removeClass("fa fa-minus-square")
                $(this).addClass("fa fa-plus-square")
                $(this).parent('tr').next('tr').toggle("fast", function () {
                });
            }
            else if ($(this).parent('tr').next('tr').not(":visible")) {
                $(this).parent('tr').next('tr').toggle("fast", function () {
                });
                $(this).removeClass("fa fa-plus-square")
                $(this).addClass("fa fa-minus-square")
                //$(this).parent('tr').next('tr').removeClass("attendancesession")
            }

        })
        $('.acctoggleBtn2').on('click', function () {

            if ($(this).parent('tr').next('tr').is(":visible")) {

                $(this).removeClass("fa fa-minus-square")
                $(this).addClass("fa fa-plus-square")
                $(this).parent('tr').next('tr').toggle("fast", function () {
                });
            }
            else if ($(this).parent('tr').next('tr').not(":visible")) {
                $(this).parent('tr').next('tr').toggle("fast", function () {
                });
                $(this).removeClass("fa fa-plus-square")
                $(this).addClass("fa fa-minus-square")
                //$(this).parent('tr').next('tr').removeClass("attendancesession")
            }
        })

    });
 $('.accessprivilegeparent').click( function () {

        $(".prefrenceheader").removeClass("prefrenceheader");
        $(this).closest("tr").addClass('prefrenceheader');
    });
</script>
<script>
    var checkinputfiled = "";
    $(document).on("change", ".checkaccess", function () {
      
        checkinputfiled = $(this).is(":checked");
        if (checkinputfiled == true) {
            $(this).closest("tr").removeClass('backtableuncheck');
            $(this).closest("tr").addClass('backtablecheck');
        }
        else {
            $(this).closest("tr").removeClass('backtablecheck');
            $(this).closest("tr").addClass('backtableuncheck');
        }
    });
    
</script>
 
