@model SecurityModel
@using CNET_ERP_V7.Models.Security;
@using CNET_V7_Domain.Domain.SecuritySchema;
@using CNET_V7_Domain.Domain.SettingSchema;
@using Newtonsoft.Json;
@inject CNET_ERP_V7.Common.Company.SharedHelpers sharedHelpers
@inject CNET_ERP_V7.Common.AuthNavigation.AuthenticationManager _authenticationManager

@{
    var userview = await sharedHelpers.GetUser();

}
<style>
   
    .useracc{
        white-space:nowrap;
    }
    #Createaccount_detail_List{
        resize:none;
    }
    .accountheader{
        white-space:nowrap;
    }

    .createacount {
        overflow-y: auto; /* make the table scrollable if height is more than 200 px  */
        height: 80vh; /* gives an initial height of 200px to the table */
    }

        .createacount thead th {
            position: sticky; /* make the table heads sticky */
            top: 0px; /* table head will be placed from the top of the table and sticks to it */
        }

    table {
        border-collapse: collapse; /* make the table borders collapse to each other */
        width: 100%;
    }

    th,
    td {
        padding: 0 0 !important;
        border: 2px solid #ccc;
    }

    th {
        background-color: rgb(179, 236, 255)
    }
   
</style>
<div class="box box-primary">
    <div class="row">
        <div class="col-md-11">
            <div class="row">
                <div class="form-group form-group-sm">
                    <div class="col-md-9">
                        <input type="text" id="filteruserAccountSetting" style="display:flex;width:100%;" class="form-control" placeholder="Search By Name">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" createacount">
        <table id="Createaccount_detail_List" class="table table-striped tree-load" style="background-color:#ffffff">
            <thead>
                <tr class="accountheader">
                    <th>User Name</th>
                    <th>Status</th>
                    <th>Person</th>
                    <th>Is Active</th>
                    <th>Remark</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in userview)
                {
                <tr style="height: 10px;">
                    <td class="useracc">@item.UserName</td>
                    <td class="useracc">@item.LoggedInStatus</td>
                    <td class="useracc">@item.Person</td>
                        <td> <input class="form-check-input" type="checkbox" id="" @(Convert.ToBoolean(item.IsActive) ? "checked" : "") onclick="return false" /></td>
                    <td class="useracc">@item.Remark</td>
                    <td width="10px"><a class="btn btn-social-icon btn-xs" onclick="EditUseraccountFunction('@item.Id','@item.Person')" data-toggle="modal"><i class="fa fa-edit"></i></a></td>
                    <td width="10px"><a data-code="@item.Id" class="btn btn-social-icon btn-xs btnDeleteuseraccount"><i class="fa fa-trash" style="color:red"></i></a></td>
                </tr>
                }
            </tbody>
        </table>

    </div>
</div>
<script>
    $(function () {
        $("#filteruserAccountSetting").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#Createaccount_detail_List > tbody > tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
<script>
    function EditUseraccountFunction(CODE,PERCODE) {
        var code = CODE;
        var percode = PERCODE;
        $('#btnrestpassword').show();
        $("#acc_Employee").prop('readonly', true);
        $("#acc_username").prop('readonly', true);
        $("#password").prop('readonly', true);
        $("#acc_comfirmPassword").prop('readonly', true);


       $.ajax({
            type: "GET",
            dataType: 'json',
            url: '@Url.Action("GetuserDetailBycode", "Security")',
            data: { code: code},
           success: function (data) {
               $('#@nameof(Model.acc_Employee)').val(percode).trigger('change');
               $('#@nameof(Model.acc_Employeeenable)').val(percode);
               $('#@nameof(Model.acc_username)').val(data.username);
               $('#@nameof(Model.acc_usernamevalue)').val(data.username);
               $('#@nameof(Model.acc_password)').val("");
               $('#@nameof(Model.acc_Isactive)').prop('checked', data.iasctive);
               $('#@nameof(Model.acc_comfirmPassword)').val("");
               $('#@nameof(Model.acc_remark)').val(data.remark);
               if (data.status != "logged in") {
                   status = "Never logged in"
                   $('#@nameof(Model.acc_loggInstatus)').val(status);
               }
               else {
                     $('#@nameof(Model.acc_loggInstatus)').val(data.status);
                 }


               $('#@nameof(Model.acc_usernamecode)').val(data.code);
               $('#modal_CreateaccounttItems').modal("show");
            },
       });
        
  }


</script>

@*$('#@nameof(Model.useraccountupdatecode)').val(code);
    $('#@nameof(Model.acc_username)').val(username);
    $('#@nameof(Model.acc_Employee)').val(personcode).trigger('change');
    $('#@nameof(Model.acc_comfirmPassword)').val("");
    $('#@nameof(Model.acc_password)').val("");
    $('#@nameof(Model.acc_loggInstatus)').val(status);*@



