@using CNET_ERP_V7.Models.SubSytsemModel
@using CNET_ERP_V7.Models.FramworkModels
@using CNET_V7_Domain.Domain.ConsigneeSchema;
@using CNET_V7_Domain.Domain.SettingSchema;
@model VoucherSearchModel

@inject CNET_ERP_V7.Common.Company.SharedHelpers sharedHelpers
@{
    var _vdestination = Model?._vdestination;
}
<style>
    .destinationtable {
        height: 70vh;
        overflow-y:scroll
    }

    .storemap{
        white-space:nowrap;
    }
</style>
<div class="box box-primary">

    <div class="box-body">

        <div class="border destinationtable">
          
                <table id="mapstorefordestination_source" class="table table-striped" style="background-color:#ffffff">
                    <thead>
                        <tr class="storemap">
                            <th>Is default</th>
                            <th>Store</th>
                            <th>Remark</th>
                            <th style="width:0px;"></th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (_vdestination != null && _vdestination.Count() > 0)
                        {
                            foreach (var item in _vdestination)
                            {
                                var store = await sharedHelpers.GetConsigneeunitById(item.Store);
                                var storedesc = store?.FirstOrDefault();
                                <input asp-for="storemapdestinationcode" name="storemapdestinationcode[]" value="@item.Store" hidden />
                                <input asp-for="storemapdestination" name="storemapdestination[]" value="@storedesc?.Name" hidden />
                                 <tr onclick="MoveFromDTableToConsigneeUnit('@item.Store','@item.Remark')">
                                <td> <input class="btnSourcedestinationdefaultvalue" type="checkbox" name="Disdefault" value="@item.Store" @(Convert.ToBoolean(item?.IsDefault) ? "checked" : "") onclick="return true" /></td>
                                    <td>@storedesc?.Name</td>
                                    <td>@item?.Remark</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <input hidden asp-for="vouchercodefordestination" />
                <input hidden asp-for="storeType" />
           
        </div>
        </div>
    </div>
 <script>
    $('#@nameof(Model.vouchercodefordestination)').val($('#@nameof(Model.documentType)').val());
</script>
     
