@using CNET_ERP_V7.Models.SubSytsemModel;
@using CNET_V7_Domain.Domain.SettingSchema;
@using Newtonsoft.Json;
@model VoucherSearchModel

@inject CNET_ERP_V7.Common.Company.SharedHelpers sharedHelpers
@{
    var organizationTypes = await sharedHelpers.GetsystemConstantById(Convert.ToInt32(Model.documentType));
    int? indexcode = organizationTypes?.FirstOrDefault().Id;



    List<RequiredGslDTO> Requiredgslist = new List<RequiredGslDTO>();

    if (indexcode != null)
    {
        Requiredgslist = await sharedHelpers.GetRequrGslByvoucherDefn(Model.documentType);


    }
    else
    {
        Requiredgslist = await sharedHelpers.GetRequrGslByvoucherDefn(101);


    }
    var Reqgsl = await sharedHelpers.GetSystemConstantByCat("Required GSL");
    var countchild = 0;
}
<style>
    .activeidSetting {
        background-color: dodgerblue;
        width: auto;
    }
    .idSetting {
        cursor: pointer;
        white-space: nowrap;
    }
    .eidtOrdelete{
        flex-direction:row !important;
    }

    .mainsysType {
        height: 77vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .mainsysType {
        white-space: nowrap
    }

    .mainsysType {
        overflow-y: auto; /* make the table scrollable if height is more than 200 px  */
        height: 77vh /* gives an initial height of 200px to the table */
    }

    .mainsysType th {
            position: sticky; /* make the table heads sticky */
            top: 0px; /* table head will be placed from the top of the table and sticks to it */
        }
    th,
    td {
        padding: 0 0 !important;
        border: 1px solid #ccc;
    }

    th {
        background-color: rgb(179, 236, 255)
    }

    .EditDelete{
        white-space:nowrap;
        width:8px !important;
        padding:0
        
    }
</style>

   <div class="box-body">
    <div style="border:1px solid #e5e5e5;" class="mainsysType">
        <input asp-for="requiredGSLDetailcode" type="text" id="@nameof(Model.requiredGSLDetailcode)" hidden>
        <table  class="sptable tree_loadgslrequ" id="gslreq_tabel_treview">
            <tbody>

                @foreach (var item in Reqgsl)
                {
                    <tr class="treegrid-@item.Id activecgslrequ  requiredGSLDetailListitemparent" onclick="GetVouchergslrequDetail('@item.Id')">
                        <td colspan="2">
                             @item.Description
                        </td>

                    </tr>
                    var childs = Requiredgslist.Where(t => t.Type == item.Id).ToList();
                    countchild = childs.Count();

                    @foreach (var childItem in childs)
                    {
                        <tr class="treegrid-parent-@item.Id activecgslrequ requiredGSLDetailListitem" onclick="GetVouchergslrequDetail('@item.Id','@childItem.Id')">
                            <td>
                                @childItem.Description
                            </td>
                            <td class="EditDelete">
                                <a class="btngslchildUpdateUpdate btn btn-xs" data-code="@childItem.Id" data-type="@childItem.Type" data-vouchedef="@childItem.VoucherDefn" data-desc="@childItem.Description" data-inde="@childItem.Index" data-isma="@childItem.IsMandatory" data-toggle="modal" data-target="#gslRequirementModelMapfroconsiandart"><i class="fa fa-edit text-info"></i></a>
                                <a data-code="@childItem.Id" class="btnDeletegslreqchild btn  btn-xs"><i class="fa fa-trash text-danger"></i></a>
                            </td>
                        </tr>

                    }

                }
                
            </tbody>
        </table>
        </div>
    </div>



<script>
    $(document).on("click", ".activecgslrequ", function () {
        $(".activeidSetting").removeClass("activeidSetting");
        $(this).addClass('activeidSetting');
    });
    function TreeFunctiongslrqu() {
        $(document).ready(function () {
            $('.tree-basic').treegrid();

            $('.tree_loadgslrequ').treegrid({
                source: function (id, response) {
                    if (id != 1) response(['']);
                    else response(['']);
                }
            });

        });
    }
    TreeFunctiongslrqu();
</script>

 <script>
    function GetVouchergslrequDetail(_idd,chidId)
    {
        $('#@nameof(Model.getparentselectedListforconsandart)').val(_idd);
        $('#@nameof(Model.requiredGSLDetailcodefrochid)').val(chidId);
      var  getvouchersettinggslchild = $('#@nameof(Model.documentType)').val();

        $('#@nameof(Model.requriedGSLVouchercode)').val(getvouchersettinggslchild);
        GetGslRequiredDetail(chidId);
    }
    function GetGslRequiredDetail(code){
        $(function () {
            $.ajax({
                url: '/Subsystems/GetrequiredGSLDetail',
                type: 'POST',
                data: { code: code }, // send the data object with the request
                success: function (result) {
                    $('#GslrequiremenctDetailContent').html(result);
                },
                error: function () {
                    console.log('Error occurred.');
                }
            });
        });
    }
 </script>