@*@using CNET_ERP_V7.Models.SubSytsemModel;
@using Newtonsoft.Json;
@model Devicemodel

@inject CNET_ERP_V7.Common.Company.SharedHelpers sharedHelpers
@{
    var ApplicableDiscount = await _uiProccessManager.GetValueFactorDefByType(CNETConstantes.ADDTIONAL_CHARGE);

    List<string> mList = new List<string>();
    foreach (var val in ApplicableDiscount)
    {
        var Articletype = await _uiProccessManager.GetGSLTypeListByCode(Convert.ToInt32(val.typeList));
        string applicabletype = val.isPercent ? " %" : " Value";
        mList.Add(val.code + "/" + Articletype?.description + "/" + val.description + "/" + val.value + " " + applicabletype);
    }

}
<style>
    .modalbody {
        position: relative;
        padding: 20px;
        height: 200px;
        overflow-y: scroll;
    }

    .modaldialog {
        width: 700px; /* New width for default modal */
        height: 50%; /* New width for default modal */
    }

    .btnlength {
        min-width: 100px;
    }
</style>
<div class="modal fade" id="Applicableservicecharge">
    <div class="modal-dialog modaldialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>
                    <span>Applicable Servicecharge</span>
                </h5>
            </div>
            <div class="box-body">
                <div class="modal-body modalbody">
                    <div class="row">
                        <form class="form-horizontal" id="" asp-action="" asp-controller="" method="post">

                            <div class="col-md-12" style="margin-top:25px">

                                <div class="row">

                                    <div class="divTable">

                                        <div class="col-md-8" style="margin-left:0px ;" id="div23">
                                            <ul class="sidebar-men secondNav tree " data-widget="tree" id="attachement_nav">
                                                @foreach (var item in mList)
                                                {
                                                    <li class="nav-item treeview menu-open attachmentType" id="parent">
                                                        <a data-toggle="tab" data-value="@item" data-types="@item" id="a123" style="text-decoration-line:none!important" name="catagory" class="addcashcustomervalue">
                                                            <span class="labelcss" selectedValue="@item">@item</span>
                                                        </a>

                                                        <ul class="treeview-menu" style="padding-left:35px; background-color:white;" id="@item">
                                                        </ul>
                                                    </li>
                                                }

                                            </ul>


                                        </div>
                                    </div>

                                </div>


                            </div>


                        </form>
                    </div>
                </div>

                <div class="col-md-12">
                    <button class="btn btn-default btn-sm btnlength" type="reset" id="applicationservicechargesave">Ok</button>

                    <button class="btn btn-default btn-sm btnlength" id="serviceChargedatadismisbtn" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script>
    var valueitem = "";
    var appdiscount = "";
    $(document).ready(function () {

        $(".attributcurrvalue").click(function () {
            appdiscount = $(this).data("id");
        });
        $(".addcashcustomervalue").click(function () {
            valueitem = $(this).data("types");

        });

        $("#applicationservicechargesave").click(function () {
            if (appdiscount == "1") {
                $('#Delivery_Applicable_service_charge_value').val(valueitem);
            }
            else if (appdiscount == "2") {
                $('#Fast_Transaction_Applicable_service_charge_value').val(valueitem);
            }
            else if (appdiscount == "3") {
                $('#Room_Service_Applicable_service_charge_value').val(valueitem);
            }
            else if (appdiscount == "4") {
                $('#Tab_Applicable_service_charge_value').val(valueitem);
            }
            else if (appdiscount == "5") {
                $('#Table_Applicable_service_charge_value').val(valueitem);
            }
            else if (appdiscount == "6") {
                $('#Takeaway_Applicable_service_charge_value').val(valueitem);
            }
            $('#serviceChargedatadismisbtn').trigger('click');
            $('.sidebar-men li.active').removeClass('active');

        });

    });

</script>

*@