@*@using CNET_ERP_V7.Models.SubSytsemModel;
@using Newtonsoft.Json;
@model Devicemodel

@inject CNET_ERP_V7.Common.Company.SharedHelpers sharedHelpers
@{
    var VoucherTypeList = await _uiProccessManager.GetVw_AllPersonViewByType(CNET_ERP_WEB.Data_Service.CNETConstantes.cush_customerTYpe);
    List<string> mList = new List<string>();
    var CashCustomer = VoucherTypeList.Where(x => x.isActive == true);
    mList.Add("Not Applicable");
    foreach (var val in CashCustomer)
    {
        mList.Add(val.code + "/" + val.firstName + ' ' + val.middleName + ' ' + val.lastName);
    }

    var deviceTypes = await _uiProccessManager.GetdeviceListByCode(Model?.DeviceType);
    var title = "Device - " + deviceTypes?.description;
    var devcedescription = deviceTypes?.description;
}
<style>
    .modalbody {
        position: relative;
        padding: 20px;
        height: 200px;
        overflow-y: scroll;
    }

    .modaldialog {
        width: 700px; /* New width for default modal */
        height: 50%; /* New width for default modal */
    }

    .btnlength {
        min-width: 100px;
    }
</style>
<div class="modal fade" id="CashCustomerMap">
    <div class="modal-dialog modaldialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>
                    <span>devcedescription + Cash Customer</span>
                </h5>
            </div>
            <div class="box-body">
                <div class="modal-body modalbody">
                    <div class="row">
                        <form class="form-horizontal" id="IdentificationFormData" asp-action="EditIdentificationn" asp-controller="" method="post">
                            <div class="col-md-12" style="margin-top:25px">
                                <div class="row">
                                    <div class="divTable">

                                        <div class="col-md-8" style="margin-left:0px ;" id="div23">
                                            <ul class="sidebar-men secondNav tree " data-widget="tree" id="attachement_nav">
                                                @foreach (var item in mList)
                                                {
                                                    <li class="nav-item treeview menu-open attachmentType" id="parent">
                                                        <a data-toggle="tab" data-value="@item" data-types="@item" id="a123" style="text-decoration-line:none!important" name="catagory" class="addcashcustomervalue">
                                                            <span class="labelcss" selectedValue="@item">@item</span>
                                                        </a>

                                                        <ul class="treeview-menu" style="padding-left:35px; background-color:white;" id="@item">
                                                        </ul>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-default btn-sm btnlength" type="reset" id="cashcustomervaluebtnsave">Ok</button>

                    <button class="btn btn-default btn-sm btnlength" id="cashcustomerdatadismisbtn" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script>
    var valueitem = "";
    $(document).ready(function () {

        $(".addcashcustomervalue").click(function () {
            valueitem = $(this).data("types");

        });

        $("#cashcustomervaluebtnsave").click(function () {

            $('#cash_customer_valuesms').val(valueitem);
            $('#recurring_cash_customer_value').val(valueitem);
            $('#reference_cash_customer_value').val(valueitem);
            $('#reservation_cash_customer').val(valueitem);
            $('#cashcustomerdatadismisbtn').trigger('click');

        });

    });

</script>

*@