@using CNET_ERP_V7.Models.SubSytsemModel;
@using CNET_V7_Domain;
@using Newtonsoft.Json;
@model Devicemodel

@inject CNET_ERP_V7.Common.Company.SharedHelpers sharedHelpers
@{

    var codemodel = Model.DeviceType;
    int sysoldvalue = 1212121212;
    var deviceConfig = await sharedHelpers.GetConfigurationByRefandPref(Model?.deviceId.ToString(), CNETConstants.DEVICE);
}
<style>
    .sptablecontent {
        border-collapse: collapse;
        background-color: #fff;
        width: 100%;
        margin-left: 15px;
    }

        .sptablecontent .asth {
            font-weight: bold;
        }

        .sptablecontent th, table td {
            padding: 1px;
            border: 1px solid #ccc;
        }

        .sptablecontent th, table tr {
            height: 3px;
        }

        .sptablecontent, .sptablecontent .sptablecontent td {
            border: 0px solid #ccc;
        }

            .sptablecontent [type=text], select {
                width: 100%;
            }

            .sptablecontent [type=password] {
                width: 100%;
            }

            .sptablecontent div {
                width: 97%;
            }

    #dampstyle {
        position: absolute;
        background-color: #eee;
    }

    .inputfield {
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: hidden;
        background-color: #eee;
        font-size: 14px;
        max-height: 25px;
    }

    .Inputborder:focus {
        border: 1px solid #1670BE;
        box-shadow: 0 0 3px #1670BE;
        outline-offset: 0px;
        outline: none;
    }

    .Inputborder {
        border: 1px solid #eee;
        font-size: 13px !important;
        height: 17px !important;
        line-height: 2px !important;
        text-emphasis-position: initial !important;
        margin-top: 0px !important;
        padding: 0px 0px !important;
    }


    .mainparent {
        color: dodgerblue;
        background-color: #eee;
    }

    .boderclr {
        background-color: dodgerblue;
    }



    .nopadding {
        border: 1px solid #eee;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
        height: 25px;
    }

    .hiddebutn {
        border: none;
        resize: none;
        outline: none;
        margin: 0px;
        background-color: white;
        width: 15px;
    }


    .displaychild {
        display: none;
    }
  
</style>

<div class="box box-primary">
    <br />

    <div class="box-header with-border">
        <div class="row">
            <div class="col-md-11">
                <div class="row">
                    <div class="form-group form-group-sm">
                        <label class="col-md-1 control-labell"> Find</label>
                        <div class="col-md-9">
                            <input type="text" id="filteremailSetting" style="display:flex;width:100%;" class="form-control" placeholder="Search By Name">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        @foreach (var item in deviceConfig)
        {
            switch (item.Attribute)
            {

                case "From Email Address":
                    Model.from_Email_Address = item.CurrentValue;
                    break;

                case "Email Password":
                    Model.email_Password = item.CurrentValue;
                    break;
                case "Smtp Server":
                    Model.smtp_Server = item.CurrentValue;
                    break;

                case "Time Out":
                        Model.time_Out = item.CurrentValue;
                break;
                case "Smtp Port":
                        Model.smtp_Port = item.CurrentValue;
                break;
            }
        }
        <form id="PropertyFormDataForEmail" method="post">

         
                <table cellpadding="0" cellspacing="0" class="sptablecontent tree-loademl" id="emailserver_setting_table">
                    <tr class="asth">
                        <td></td>
                        <td></td>

                    </tr>
                    <tr class="treegrid-@sysoldvalue mainparent">
                        <td colspan="2">
                            Email Server Setting
                        </td>
                    </tr>
                    <tr class="treegrid-parent-@sysoldvalue">
                        <td class="attributdata">
                        From Email Address
                        </td>
                        <td class="attributcurrvalue">
                            <input asp-for="from_Email_Address" value="@Model.from_Email_Address" class="Inputborder" autocomplete="off" />

                        </td>

                    </tr>
                    <tr class="treegrid-parent-@sysoldvalue">
                        <td class="attributdata">
                        Email Password
                        </td>
                        <td class="attributcurrvalue">
                            <input asp-for="email_Password" value="@Model.email_Password" type="password" class="Inputborder" autocomplete="off" />
                        </td>

                    </tr>
                    <tr class="treegrid-parent-@sysoldvalue">
                        <td class="attributdata">
                        Smtp Server
                        </td>
                        <td class="attributcurrvalue">
                            <input asp-for="smtp_Server" value="@Model.smtp_Server" class="Inputborder" autocomplete="off" />
                        </td>

                    </tr>
                    <tr class="treegrid-parent-@sysoldvalue">
                        <td class="attributdata">
                        Time Out
                        </td>
                        <td class="attributcurrvalue">
                            <input asp-for="time_Out" value="@Model.time_Out" class="Inputborder" autocomplete="off"/>
                        </td>

                    </tr>
                    <tr class="treegrid-parent-@sysoldvalue">
                        <td class="attributdata">
                        Smtp Port
                        </td>
                        <td class="attributcurrvalue">
                            <input asp-for="smtp_Port" value="@Model.smtp_Port" class="Inputborder" autocomplete="off" />

                        </td>
                    </tr>
                </table>
        
            <input asp-for="emaildevicecode" value="@Model.deviceId" hidden />
        </form>


    </div>
</div>

<script>
    $(function () {
        $("#filteremailSetting").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#emailserver_setting_table > tbody > tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
<script>

    function TreeFunctionproprty() {
        $(document).ready(function () {
            $('.tree-basic').treegrid();

            $('.tree-loademl').treegrid({
                source: function (id, response) {
                    if (id != 1) response(['']);
                    else response(['']);
                }
            });

        });
    }
    TreeFunctionproprty();
</script>
<script>
    
        $('.attributdata').click(function () {
        $(".boderclr").removeClass("boderclr");
        var value = $(this).text();
        $("input[name*='" + value + "']").addClass("boderclr");
        $(this).closest("tr").addClass('boderclr');
        $('#deviceproperty').html(value);

    });
        $('.attributcurrvalue').click(function () {
        $(".boderclr").removeClass("boderclr");
        var value = $(this).siblings().text();
        $("input[name*='" + value + "']").addClass("boderclr");
        $(this).siblings().addClass("boderclr");
        $('#deviceproperty').html(value);

    });
        $("#devicesettingproperty").change(function () {
            var value = $(this).select2('data')[0].text;
        $(".boderclr").removeClass("boderclr");
        $("input[name*='" + value + "']").addClass('boderclr');
        $("input[name*='" + value + "']").closest("tr").addClass('boderclr');
            $('#deviceproperty').html(value);
    });

</script>



<script>
    function gettvlogofile(filename) {
        $('#display_tvlogofile').val(filename);
}
</script>
<script>
    function getweatherfile(filename) {
        $('#display_weather_file').val(filename);
}
</script>
<script>
    function getalarmmusicfile(filename) {
        $('#display_alarmusicfile').val(filename);
}
</script>
<script>
    function gethotelfile(filename) {
        $('#display_hotelfile').val(filename);
}
</script>
<script>
    function getIsupdateurlfile(filename) {
        $('#display_iisufile').val(filename);
}
</script>
<script>
    function getattachurlfile(filename) {
        $('#display_attachfile').val(filename);
}
</script>
<script>
    function getmediafile(filename) {
        $('#display_mediafile').val(filename);
}
</script>
<script>
    function getroomfile(filename) {
        $('#display_roomfile').val(filename);
}
</script>
<script>
    function getphysicalfile(filename) {
        $('#display_physicalfile').val(filename);
}
</script>